<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userlist</title>
    <link rel="stylesheet" href="/dark.css" id="css_mode">
    <script src="/library/index.js"></script>
</head>
<body onload="load()" style="width: 100vw; height: 100vh; position: absolute;">
    <%- include('header.ejs', {user: u}) %>
    <div class="content">
        <form action="/bot/<%= bot.id %>/edit_submit" method="get" style="color: var(--textcol); margin-top: 30px; margin-left: 30px;">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required value="<%= bot.name %>">
            <br />
            <label for="headline">Headline: </label>
            <input type="text" name="headline" id="headline" required value="<%= bot.headline %>">
            <br />
            <label for="description">Description: </label>
            <input type="text" name="description" id="description" required value="<%= bot.description %>">
            <br />
            <label for="website">Website: </label>
            <input type="tel" name="website" id="website" required value="<%= bot.website %>">
            <br />
            <label for="invite">Bot-Invite: </label>
            <input type="text" name="invite" id="invite" required value="<%= bot.invite %>">
            <br />
            <label for="discordServer">Support Server: </label>
            <input type="text" name="discordServer" id="discordServer" required value="<%= bot.discordServer %>">
            <br />
            <label for="prefix">Prefix: </label>
            <input type="text" name="prefix" id="prefix" required value="<%= bot.prefix %>">
            <br />
            <label for="avatar">Avatar-Link</label>
            <input type="text" name="avatar" id="avatar" required value="<%= bot.avatar %>">
            <br />
            <label for="tags">Tags (Comma between the tags): </label>
            <input type="text" name="tags" id="tags"  required value="<%= bot.tags.join(",") %>">
            <br />
            <br />
            <button type="submit" class="primary">Submit</button>
            <!-- <input type="hidden" name="csrf_tok" value="<%= //csrf %>"> -->
        </form>
    </div>
    <%- include('footer.ejs', {user: u}) %>
</body>
</html>