<%function makeBold(str, sstr) {return str.replaceAll(sstr, "<b>"+sstr+"</b>")}%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botlist</title>
    <link rel="stylesheet" href="/dark.css" id="css_mode">
    <script src="/library/index.js"></script>
    <script>
        function gotoBot(id) {
            location.href=location.origin+"/bot/"+id;
        }

        function _load() {
            let bots = [
                <% bots.forEach(element => { %>
                {
                    name: purify("<%- makeBold(element.name).replaceAll('"', '\\"') %>"),
                    headline: purify("<%- makeBold(element.headline).replaceAll('"', '\\"') %>"),
                    tags: purify("Tags: <%- makeBold(element.tags.join(', ')).replaceAll('"', '\\"') %>"),
                    id: purify("<%= element.id %>"),
                    avatar: purify("<%- element.avatar %>"),
                },
                <%}); %>
            ];

            bots.forEach(el=> {
                let el1 = document.createElement("div");
                el1.classList.add("bot");
                el1.setAttribute("onclick", "gotoBot('" + el.id + "')");
                //----------------------------------------------
                let el2 = document.createElement("a")
                el2.setAttribute("style", "font-size: 1.7em;")
                el2.setAttribute("href", `/bot/${el.id}`);
                let el3 = document.createElement("img");
                el3.setAttribute("src", el.avatar)
                el3.classList.add("big-avatar");
                el2.append(el3);
                el2.innerHTML+=el.name;
                el1.append(el2);
                //-----------------------
                let el4 = document.createElement("p");
                el4.setAttribute("style", "font-size: small;");
                el4.innerHTML=el.headline;
                el1.append(el4);
                //---------------------------
                let el5 = document.createElement("p");
                el5.innerHTML=el.tags;
                el1.append(el5)
                document.getElementsByClassName("content")[0]?.append(el1);
            })
        }
    </script>
    <style>
        .bot {
            cursor: pointer;
            margin: 5px;
            border: 1px solid orangered;
            border-radius: 12px;
            padding: 4px;
            margin-left: 30px;
            margin-right: 30px;
            transition: transform .1s;
        }

        .bot:hover {
            transform: scale(1.01);
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .bot>* {
            margin: 0;
            padding: 0;
            font-size: medium;
            margin-left: 20px;
        }
    </style>
</head>
<body onload="load()" style="width: 100vw; height: 100vh; position: absolute;">
    <%- include('header.ejs', {user: u}) %>
    <div class="content">
    </div>
    <%- include('footer.ejs', {user: u}) %>
</body>
</html>